@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.btn-gradient {
  background: rgb(20, 78, 227);
  background: linear-gradient(
    90deg,
    rgba(20, 78, 227, 1) 0%,
    rgba(235, 86, 142, 1) 20%,
    rgba(163, 83, 170, 1) 65%,
    rgba(20, 78, 227, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Inter", sans-serif;
  background: url("/shortie_bg.svg"), #0b101b;
  background-repeat: no-repeat;
  background-size: cover;
}
